.bg-theme {
  background-color: #2475b0;
}
.cart-icon {
  font-size: 1.5rem;
}
.hero-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-warning {
  padding: 8px 35px;
}
.about-background {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
